<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


<div class="row" [ngClass]="{'completed': item.completed}">
    <div class="title">
        <label>
        <input type="checkbox" [checked]="item.completed" (change)="onToggle(item)">
        <span></span>
          </label>
        {{ item.title }}
    </div>
    <div class="price">
        {{ item.price }}
    </div>
    <div class="quantity">
        {{ item.quantity }}
    </div>
    <div class="total">
        {{ (item.price * item.quantity) | currency }}
    </div>
    <div class="actions">
        <button class="btn" (click)="onDelete(item)">Eliminar</button>
    </div>
</div>
